.contenedor {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.punto {
    display: inline-flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:  rgb(0, 255, 72);
    margin: 5px;
}

.punto::after {
    display: block;
    background-color: rgb(0, 255, 72);
    width: 17.25px;
    height: 2px;
    top: 9px;
    left: 18px;
    position: relative;
    content: "";
}


.punto:last-child, .punto:last-child::after {
    background-color: rgb(107, 107, 107);
}

.punto:last-child::after {
    border-radius: 5px;
}
